body{
    background-image:linear-gradient(75deg, #e92c2c,#252526,#16201c,#20294a);
    color: white;
}
    p{
    font-weight: bold;
    font-size: 16px;
    }
    #head{
    color:#000d1a;
    text-align: center;
    }
    #head:hover{
    color: black;
    text-shadow: 0px 4px 4px red;
    }
    .daucolor{
    color: #226600;
    }
    img{
    width: 300px;
    float: right;
    margin-left: 5%;
    border-radius: 0%;
    }
    .Mydiv{
    width: 300px;
    height: 170px;
    border: 2px outset grey;
    }
    .Mydiv:hover{
        background-color: grey;
        box-shadow: 1px 4px 40px black;
        border: 3px outset black;
    }

    #image2{
     width: 300px;
        float: right;
        margin-left: 5%;
        border-radius: 0%;
    }

    .Mydiv2{
    width: 300px;
        height: 170px;
        border: 2px outset red;
    }
    .Mydiv2:hover{
    background: red;
    box-shadow: 1px 4px 40px red;
    }
 .Mydiv3{
    width: 300px;
        height: 170px;
        border: 2px outset orange;
    }
    .Mydiv3:hover{
     background: dark orange;
        box-shadow: 1px 4px 40px orange;
    }
    .Mydiv4{
        width: 300px;
            height: 170px;
            border: 2px outset blue;
    }
    .Mydiv4:hover{
    background: dark blue;
        box-shadow: 1px 4px 40px blue;
    }