 body{
    background-image: url(" https://cdn.pixabay.com/photo/2021/10/30/18/03/berlin-6755246__340.jpg ");
    background-repeat: no-repeat;
    background-size: cover;
    }
    p{
    font-weight: bold;
    font-size: 16px;
    }
    #head{
    color:#000d1a;
    text-align: center;
    }
    .daucolor{
    color: #226600;
    }
    img{
    width: 400px;
    float: right;
    margin-right: 10%;
    border-radius: 100px 100px 0px 100px;
    }